@import './reset';
@import './variables';

/* 
  Importing fonts
*/
@font-face {
  font-family: Butler;
  src: url(/fonts/butler-extrabold.otf) format('openType');
}

@font-face {
  font-family: 'Jetbrains mono';
  font-stretch: 50% 150%;
  font-weight: 100 1000;
  src: url(/fonts/jetbrainsmono-wght.ttf) format('truetype-variations');
}

/* 
  CSS
*/
html {
  background: #fff;
  font-size: 62.5%;
}
body {
  border: 1.2rem solid #fff;
  background: #fff;
  font-family: $font-body;
  height: auto;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  color: $color-bodytext;
  text-decoration: none;
}

/*
  Top navigation
*/
nav {
  @include noise;
  display: grid;
  grid-template-columns: 4rem auto;
  padding: 3.2rem 4.8rem;
  .logo img {
    width: 3.2rem;
  }
  ul {
    list-style: none;
    text-align: right;
    font-family: $font-mono;
    font-size: $font-size-xsmall;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 0 0 3rem;
    }
  }
}

/*
  Main area
*/
main {
  @include noise;
  padding: 3.2rem 4.8rem;
}

.homegrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.cup {
  h2 {
    font-family: $font-heading;
    font-size: $font-size-xlarge;
    font-weight: 100;
    margin: 0;
  }
  address {
    font-family: $font-mono;
    font-size: $font-size-small;
    font-style: normal;
  }
}

/*
  Footer
*/
footer {
  @include noise;
  padding: 6.4rem 4.8rem 3.2rem;
  ul {
    list-style: none;
    font-family: $font-mono;
    font-size: $font-size-xsmall;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 3rem 0 0;
    }
  }
}
