@import './reset';
@import './variables';

/* 
  Importing fonts
*/
@font-face {
  font-family: Butler;
  src: url(/fonts/butler-extrabold.otf) format('openType');
}

@font-face {
  font-family: 'Jetbrains mono';
  font-stretch: 50% 150%;
  font-weight: 100 1000;
  src: url(/fonts/jetbrainsmono-wght.ttf) format('truetype-variations');
}

/* 
  CSS
*/
html {
  background: #fff;
  font-size: 62.5%;
}
body {
  border: 1.2rem solid #fff;
  background: #fff;
  font-family: $font-body;
  height: auto;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  color: $color-bodytext;
  text-decoration: none;
}

/*
  Top navigation
*/
nav {
  background: $color-gray-2;
}

/*
  Main area
*/
main {
  background: $color-gray-2;
}

/*
  Footer
*/
footer {
  background: $color-gray-2;
}
