@import './reset.scss';

// Variables

// Typography
@font-face {
  font-family: Bodoni;
  src: url(/fonts/butler-extrabold.otf) format('openType');
}

@font-face {
  font-family: 'Jetbrains mono';
  font-stretch: 50% 150%;
  font-weight: 100 1000;
  src: url(/fonts/jetbrainsmono-wght.ttf) format('truetype-variations');
}
